websockets==10.4
matplotlib==3.7.1
opencv-python==4.7.0.68
numpy==1.24
aenum==3.0.0
pegl==0.2a1
glfw==2.1.0
mujoco==2.3.3
pyopengl==3.1.5
absl_py==0.13.0
six==1.16.0 
# ThingsBoard stuff
setuptools==67.0.0
simplejson==3.18.1
urllib3==1.26.14
idna==3.4
paho-mqtt==1.6.1
mmh3==3.0.0
tb-mqtt-client==1.4.1
charset-normalizer==2.0.7
certifi==2022.12.7
requests==2.26.0
